.implantCard,
.implantCard td {
  background-color: #f9f9f9;
}

.implantCard {
  width: 100%;
  margin-bottom: 0.5rem;
  height: 60px;
  width: 60px;
  cursor: pointer;
  border-radius: 8px;
}

.implantCard td {
  text-align: center;
  border: none;
  letter-spacing: 0.2px;
  font-size: 0.9rem;
  padding: 0.5rem;
}

.implantCard__actions {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 0.7rem;
  margin-left: 0.8rem;
  align-items: center;
  gap: 0.5rem;
}

.implantCard__icon {
  display: flex;
  cursor: pointer;
  font-size: 1.3rem;
  transition: transform 0.2s;
  gap: 2rem;
}

.implantCard__icon:hover {
  color: red;
}


@media (max-width: 480px) {
  .implantCard {
    height: 40px;
  }
    
  .implantCard td {
    font-size: 10px;
  }
}