
.implantCard {
  width: 100%;
  height: 60px;
  border-radius: 8px;
  background-color: #e8eaec;
}

.implantCard td {
  text-align: center;
  letter-spacing: 0.2px;
  font-size: 0.9rem;
  padding: 0.6rem;
}

.implantCard__actions {
  display: flex;
  justify-content: space-between;
  margin-top: 0.7rem;
  margin-left: 0.8rem;
  align-items: center;
  gap: 0.5rem;
}

.implantCard__icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
}

.implantCard__icon:hover {
  color: rgb(204, 74, 74);
}


@media (max-width: 480px) {
  .implantCard td {
    font-size: 10px;
  }
}