body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f8f9fa;
  color: #333;
}

/* Dashboard Layout */
.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header / Top Bar */
.dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  z-index: 10;
  
}

/* Search bar */
.dashboard__search input {
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 220px;
  max-width: 100%;

  transition: border 0.2s ease;
}

.dashboard__search input:focus {
  outline: none;
  border-color: #505860;
}

/* Tabs */
.dashboard__tabs {
  display: flex;
  background: #f1f3f5;
  border-bottom: 1px solid #ddd;
}

.dashboard__tab {
  flex: 1;
  padding: 0.75rem;
  text-align: center;
  background: transparent;
  border: none;
  cursor: pointer;

  transition: background 0.2s ease;
}

.dashboard__tab:hover {
  background: #e9ecef;
}

.dashboard__tab--active {
  border-bottom: 3px solid #505860;
  background: #fff;
}

/* Content */
.dashboard__content {
  flex: 1;
  padding: 1.5rem;
}

.dashboard__panel {
  background: #fff;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}


/* Search bar result container */
.searchResults-container {
  overflow-x: auto;
  margin-top: 1rem;
}

.searchResults-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 0.9rem;
  background-color: transparent;
  border-top: 0.9px solid rgb(83, 80, 80);
}

.searchResults-table th {
  position: sticky;
  top: 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-size: 0.9rem;
  padding: 0.75rem 1rem;
  border-bottom: 0.9px solid rgb(83, 80, 80);
  background: white;
}

.searchResults-table tbody tr {
  text-align: center;
}

.searchResults-table td {
  padding: 0.75rem 1rem;
  /* border-top: 1px solid #f3f4f6; */
  color: #4b5563;
}


@media (max-width: 646px) {
  .searchResults-table td {
    font-size: 0.5rem;
    
  }
  .searchResults-table td,
  .searchResults-table th {
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .add-button-mobile {
    display: hide;
  }
}