
.accordionCard {
  margin-bottom: 1rem;
  padding: 0 10px;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  transition: all 0.2s ease;

}

.accordionCard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.accordionCard-content {
  max-height: 400px;
  overflow-y: auto;
  background: #f9f9f9;
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.implantCard-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.implantCard-container table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-weight: normal;
}

.implantCard-container th {
  padding: 0.5rem 1rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-size: 0.9rem;
}

.implantCard-container thead th {
  position: sticky;
  top: 0;
  background: #f8f8f8;
  z-index: 2;
}

@media (max-width: 480px) {
  .implantCard-container th,
  .implantCard-container td {
    font-size: 12px;
    padding: 0.5rem 1rem 0.5rem 0;
  }
}